/*all*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

p {
  font-size: 14px;
}



/*generic styling */

.section-title {
  padding-top: 50px;
  padding-bottom: 40px;
}

.section-title h2 {
  position: relative;
  text-align:center;
  color: #ccc;
  font-size:30px;
  font-weight: 400px;
  text-transform: uppercase;
}

.section-title h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 60px;
  height: 1px;
  background-color: #129CF3;
  margin-left: -30px;
}

.section-title p {
  color: #333;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  margin-top: 45px;
}


/*header*/

.header {
  background-image: url("../images/main-background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size:cover;
  -webkit-background-size: cover;
}

.header-main-image img{
  width:100%;
}

.header-overlay {
  background-color: rgba(31,31,31, 0.55);
}

.logo img{
  max-width: 80%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.header-text h1 {
  color: white;
  font-size: 35px;
  line-height: 45px;
  font-weight: 300;
  padding-top: 18px;
  text-transform: uppercase;
}

.header-text p {
  color: white;
  font-size: 17px;
  line-height: 28px;
  font-weight:300;
}

.header-btns {
  margin-top: 60px;
  margin-bottom: 40px;
}

.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:visited
{
  background:transparent;
  border-color: #129CF3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right:30px;
  font-size: 19px;
  text-transform: uppercase;
  border-radius:3px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
}

.btn-download:hover {
  background-color: #129CF3;
  color: white;
}

.btn-tour ,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited
{
  color: #A9ADB0;
  margin-left: 20px;
  font-size:19px;
  font-weight: 500;
  background: transparent;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
}

.button-tour {
  color: white;
}

.btn-tour i {
  font-size: 40px;
  padding-left:5px;
  color: #129CF3;
}



/*about us*/

.choose-us-wrapper {
  padding-top: 40px;
}

.about-company img {
  max-width: 100%;
  padding-bottom: 25px;
}

.choose-us-title h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  position:relative;
  padding-bottom: 35px;
}

.choose-us-item {
  position: relative;
  padding-bottom: 4px;
  padding-left: 60px;
}

.choose-us-item div {
  position: absolute;
  top: 0;
  left: 0;
}

.choose-us-item div i {
  font-size: 28px;
  color: #129CF3;
  tansition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}

.choose-us-item h3 {
  color: #343434;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
}

.choose-us-item p{
  color: #727272;
  font-size: 15px;
}
